@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10%;
}

/* Contenedor nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__imagen {
  width: 30px;
  height: 30px;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo__nombre {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.nav__ingreso {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Contenedor Header */
header {
  display: flex;
}

/* Texto */
.header__texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.texto__titulo {
  font-weight: bold;
  font-size: 4.3rem;
  margin: 0px;
}

.texto__parrafo {
  font-size: 1.45rem;
}

.texto__botones {
  display: flex;
  gap: 1rem;
}

/* Imagenes */
.header__imagenes {
  width: 50%;
  position: relative;
  text-align: right;
  margin-right: 30px;
}

.imagenes__circulo {
  position: absolute;
  top: -50px;
  left: 70px;
}

.imagenes__puntos {
  position: absolute;
  bottom: 2px;
  right: -30px;
}

.verde_blanco {
  color: white;
  background-color: #2ad167;
}

.boton__registrarse {
  width: 185px;
  background-color: white;
  border: solid #d3d3d3 0.12rem;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}
.boton__registrarse_verde {
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.boton_demo {
  width: 220px;
  height: 60px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.boton__texto__nuevo {
  padding: 7px;
  border-radius: 30px;
  margin-bottom: 0px;
}

.caracteristicas {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.caracteristicas__tarjetas {
  border: 2px solid black;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 400px;
}

.caracteristicas__icono {
  /*  background-color: #2ad167;
  border-radius: 10px; */
  width: 50px;
  height: 50px;
}

.icono {
  background-color: #2ad167;
  width: 50px;
  height: 50px;
}

.caracteristicas__titulo {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.caracteristicas__parrafo {
  font-size: 1rem;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
}

.precios {
  /* border: 2px solid black; */
}

.gris {
  background-color: #f7f8f9;
  /* border: solid 1px blue; */
  border-radius: 5px;
  height: 530px;
  width: 395px;
}

.tabla_precios {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.precio_card {
  color: #2ad167;
}

.plan_card {
  color: #2ad167;
}

.valor_card {
  font-size: 2em;
}

.facturando_card {
  color: #93a1b6;
}

.boton_precios {
  border-radius: 5px;
  height: 35px;
  width: 100%;
}

.img_check {
  grid-area: "a";
  margin-top: 23px;
}

.contenedor_check {
 /*  border: 1px solid yellow; */
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 30px 1fr;
  grid-template-areas: 
  "a" "b"
  "a" "b"
  "a" "b"
  "a" "b";
  text-align: start;
}

.span_check {
  /* border: 1px solid yellow; */
  grid-area: "b";
  margin-top: 23px;
  color: #93a1b6;
}

footer {
  border: 2px solid black;
  height: 200px;
}
